.container-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-titulo h1 {
  font-size: 3rem;
  color: #f85a01;
}

.container-titulo svg {
  font-size: 2rem;
  color: #f85a01;
}

/* Estilos generales del Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  background-color: #025f04;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: width 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar li {
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar li:hover {
  background-color: #038604;
}

.sidebar .icon {
  color: #fff;
  font-size: 1.5em;
  margin-right: 10px;
}

.sidebar span {
  color: #fff;
  font-size: 1.2em;
}

/* Sidebar responsive para pantallas pequeñas */
@media (max-width: 768px) {
.container-titulo h1{
    display: none;
}
.container-titulo .ico{
    font-size: 1.5rem;
}
  .sidebar {
    width: 80px; /* Reduce el ancho del sidebar en pantallas pequeñas */
  }

  .sidebar span {
    display: none; /* Oculta el texto, muestra solo los iconos en pantallas pequeñas */
  }

  .sidebar li {
    justify-content: center; /* Centra los iconos en pantallas pequeñas */
  }

  .sidebar .icon {
    margin-right: 0; /* Elimina el margen derecho del icono */
  }
}

/* Sidebar oculto en pantallas muy pequeñas */
@media (max-width: 576px) {
  .sidebar {
    width: 60px;
  }
}
